

#flex-box {

    display: flex;
    flex-direction: column;
    width: 480px;
    margin: auto;
}

body{
    background: cornsilk;
}


.frame-border {
    font: italic 20px "Fira Sans", serif;
    border: darkorange 1px solid;
    padding: 2px 10px;
    margin-top: 10px;
}
