body{
    background: white;
    color: #222222;
}

#flex-box {
    display: flex;
    flex-direction: column;
    width: 480px;
    background: bisque;
    /*border-radius: 20px;*/
    /*padding: 0px;*/
    margin: 100px auto;
}

#header{
    text-align: center;
    font: italic 30px "Fira Sans", serif;
}

#todoInput {
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    font: italic 20px "Fira Sans", serif;
}

.controls{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.controls-button{
    height: 25px;
    border: none;
    font: italic bold 15px "Fira Sans", serif;
    color: #fafafa;
    border-radius: 4px;
    background: #ff8c00;
}

.frame-border {
    /*display: flex;*/
    /*justify-content: space-between;*/
    font: italic 20px "Fira Sans", serif;
    box-shadow: 5px 5px 20px rgba(255,140,0,0.25) ;
    /*border-radius: 10px;*/
    padding: 5px 10px;
}

.todo-list{
    clear: both;
}

.todo-object{
    height: 1.5em;
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: bisque;
}

.elem-list-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.elem-list-checkbox+label{
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.elem-list-checkbox+label::before {
    content: '';

    /*display: inline-block;*/
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.elem-list-checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url(../img/checkbox_white.png);
}

.elem-list-checkbox-label{
    /*text-decoration: line-through;*/
}

.elem-list-input{
    width: 380px;
    font: italic 20px "Fira Sans", serif;
    display: none;
    border: none;
    outline: none;
}

.elem-list-input-label{
    align-self: center;
    width: 380px;
    overflow:hidden;
}

.elem-list-delete{
    width: 30px;
    background: aliceblue;
    border: none;
    outline: none;
    visibility: hidden;
}

.todo-object:hover > .elem-list-delete{
    width: 30px;
    background: darkorange;
    visibility: visible;
}
