#flex-box {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: auto;
}

body{
    background: cornsilk;
}

.frame-border {
    font: italic 20px "Fira Sans", serif;
    border: darkorange 1px solid;
    padding: 2px 10px;
    margin-top: 10px;
}

.todo-object{
    clear: both;
    background: azure;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo-object:hover > .elem-list-delete{
    width: 30px;
    background: darkorange;

    visibility: visible;
}


.elem-list-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.elem-list-checkbox+label{
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.elem-list-checkbox+label::before {
    content: '';

    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.elem-list-checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url(../img/checkbox_white.png);
}

.elem-list-checkbox-label{
    text-decoration: line-through;
}


.elem-list-div{
    clear: both;
    width: 250px;
    background: aliceblue;

}
.elem-list-label{

}
.elem-list-input{
    width: 250px;
    display: none;
}

.elem-list-delete{
    width: 30px;
    background: aliceblue;
    border: none;
    outline: none;
    visibility: hidden;
}

.elem-list-delete:before {
    visibility: visible;
}

.elem-list-delete:after {

    visibility: visible;
    content: "";
}
.elem-list-delete:hover{
    width: 30px;
    background: darkorange;
    visibility: visible;
}


